{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/site/footer.css' %}">
{% endblock %}



<footer class="footer">
    <img class="separador-footer" src="{% static 'img/Footer.png' %}" alt="">

    <div class="footer-content">
        <a class="footer-item" href="{% url 'index' %}"><img src="{% static 'img/rancho-alere.png' %}"></a>
        <a class="footer-item" href="{% url 'contato' %}"><img src="{% static 'img/localizacao.png' %}"></a>
        <div class="footer-items">
            <a class="footer-item--mini" target="_blank" href="mailto:ranchoalere@gmail.com"><img src="{% static 'img/email2.png' %}"></a>
            <a class="footer-item--mini" target="_blank" href="https://api.whatsapp.com/send?phone=5592992046774"><img src="{% static 'img/wpp.svg' %}"></a>
        </div>

    </div>
    <address class="footer-adress">
        <p class="footer-adress--item">Desenvolvido por Gabriel Ferreira</p>
        <p class="footer-adress--item">&copy; Copyright Rancho Alere Todos os direitos reservados.</p>
    </address>
</footer>