{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/site/linha_produtos.css' %}">
{% endblock %}

<section>
    <section class="separador"><img src="{% static 'img/sep-cinza.png' %}" alt="separador"></section>

    <div class="linha">

        <h2 class="linha-titulo">Nossas Linhas</h2>

        <div class="linha-produtos">

            <div class="linha-produtos-div">
                <a href="produtos/Iogurte" class="linha-produtos--item">
                <img src="{% static 'img/Iog-Natural-450G.png' %}" alt="garrafa de Iogurte">
                <p>Iogurtes</p>
                </a>
            </div>

            <div class="linha-produtos-div">
                <a href="produtos/Queijo Búfala" class="linha-produtos--item">
                <img src="{% static 'img/Iog-Natural-450G.png' %}" alt="garrafa de Iogurte">
                <p>Queijo Búfala</p>
                </a>
            </div>

            <div class="linha-produtos-div">
                <a href="produtos/Queijo Bovino" class="linha-produtos--item">
                <img src="{% static 'img/Iog-Natural-450G.png' %}" alt="garrafa de Iogurte">
                <p>Quejo Bovino</p>
                </a>
            </div>
        </div>

    </div>
    <section class="separador"><img src="{% static 'img/sep-cinza.png' %}" alt="separador"></section>
</section>