{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/site/linha_produtos.css' %}">
{% endblock %}

<section>
    <section class="separador"><img src="{% static 'img/sep-cinza.png' %}" alt="separador"></section>

    <div class="linha">

        <h2 class="linha-titulo">Nossas Linhas</h2>

        <div class="linha-produtos">

            {% for linha in linhas %}
                <div class="linha-produtos-div">
                <a href="produtos/{{ linha.nome }}" class="linha-produtos--item">
                    {% if not linha.imagem %}
                        <img src="{% static 'img/sem-imagem.png' %}" alt="garrafa de Iogurte">
                    {% else %}
                        <img src="{{ linha.imagem.url }}" alt="garrafa de Iogurte">
                    {% endif %}
                <p>{{ linha.nome }}</p>
                </a>
            </div>
            {% endfor %}
        </div>

    </div>
    <section class="separador"><img src="{% static 'img/sep-cinza.png' %}" alt="separador"></section>
</section>