{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/site/nossahistoria.css' %}">
{% endblock %}

<section class="historia">

    <div class="historia-content">
        <div class="historia-imagem">
        <img src="{% static 'img/fundo.jpeg' %}" alt="">
    </div>

    <div class="historia-texto">
        <h2>Nossa História</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam sit amet odio non odio auctor scelerisque nec sed risus. Phasellus commodo ex sit amet sollicitudin rhoncus. Etiam lorem urna, volutpat nec gravida sed, tempus ac justo. Donec euismod, lacus placerat aliquet mollis, purus tortor viverra libero, ut hendrerit neque est non purus. Fusce tristique erat vel lorem aliquam rhoncus. Nullam a sem eu nisi blandit mattis. Aenean quis diam a diam luctus eleifend. In lobortis interdum fermentum. Sed dignissim nisl sit amet ante sollicitudin ultrices. </p>
    </div>


</section>