{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/site/produtos.css' %}">
{% endblock %}


<section class="produtos">
    <div class="produtos-head">
        <h2 class="produtos-head--titulo">{{ titulo }}</h2>
        <div class="produtos-head--nav">
            <a class="item" href="{% url 'index' %}">Home</a>
            <p class="item"> > </p>
            {% if titulo == 'Produtos' %}
                <a class="ativo item " href="{% url 'produtos' %}">Produtos</a>
            {% else %}
                <a class="item " href="{% url 'produtos' %}">Produtos</a>
                <p class="item"> > </p>
                <a class="ativo item " href="{{ titulo }}">{{ titulo }}</a>
            {% endif %}
        </div>

    </div>


    <div class="produtos-lista">

        {% for produto in produtos %}
            <div class="produtos-item">
                <img class="produtos-item--imagem" src="{{ produto.imagem.url }}" alt="">
                <div class="produtos-item--descricao">
                    <p class="produtos-item--texto">{{ produto.p_nome }} <span class="sabor">{{ produto.s_nome }}</span></p>
                    <a class="produtos-item--link" href="{{ produto.linha }}/{{ produto.id }}">Conhecer Produto ></a>
                </div>
            </div>
        {% endfor %}





    </div>
</section>