{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/site/produtos.css' %}">
{% endblock %}


<section class="produtos">
    <div class="produtos-head">
        <h2 class="produtos-head--titulo">Produtos</h2>
        <div class="produtos-head--nav">
            <a class="item" href="{% url 'index' %}">Home</a>
            <p class="item"> > </p>
            <a class="ativo item " href={% url 'produtos' %}"">Produtos</a>
        </div>

    </div>


    <div class="produtos-lista">

        <div class="produtos-item">
            <img class="produtos-item--imagem" src="{% static 'img/Iog-Natural-450G.png' %}" alt="">
            <div class="produtos-item--descricao">
                <p class="produtos-item--texto">Iogurte <span class="sabor">Natural</span></p>
                <a class="produtos-item--link" href="/produtos/1">Conhecer Produto ></a>
            </div>
        </div>

        <div class="produtos-item">
            <img class="produtos-item--imagem" src="{% static 'img/Iog-Natural-450G.png' %}" alt="">
            <div class="produtos-item--descricao">
                <p class="produtos-item--texto">Iogurte <span class="sabor">Natural</span></p>
                <a class="produtos-item--link" href="/produtos/1">Conhecer Produto ></a>
            </div>
        </div>
        <div class="produtos-item">
            <img class="produtos-item--imagem" src="{% static 'img/Iog-Natural-450G.png' %}" alt="">
            <div class="produtos-item--descricao">
                <p class="produtos-item--texto">Iogurte <span class="sabor">Natural</span></p>
                <a class="produtos-item--link" href="/produtos/1">Conhecer Produto ></a>
            </div>
        </div>
        <div class="produtos-item">
            <img class="produtos-item--imagem" src="{% static 'img/Iog-Natural-450G.png' %}" alt="">
            <div class="produtos-item--descricao">
                <p class="produtos-item--texto">Iogurte <span class="sabor">Natural</span></p>
                <a class="produtos-item--link" href="/produtos/1">Conhecer Produto ></a>
            </div>
        </div>
        <div class="produtos-item">
            <img class="produtos-item--imagem" src="{% static 'img/Iog-Natural-450G.png' %}" alt="">
            <div class="produtos-item--descricao">
                <p class="produtos-item--texto">Iogurte <span class="sabor">Natural</span></p>
                <a class="produtos-item--link" href="/produtos/1">Conhecer Produto ></a>
            </div>
        </div>
        <div class="produtos-item">
            <img class="produtos-item--imagem" src="{% static 'img/Iog-Natural-450G.png' %}" alt="">
            <div class="produtos-item--descricao">
                <p class="produtos-item--texto">Iogurte <span class="sabor">Natural</span></p>
                <a class="produtos-item--link" href="/produtos/1">Conhecer Produto ></a>
            </div>
        </div>
        <div class="produtos-item">
            <img class="produtos-item--imagem" src="{% static 'img/Iog-Natural-450G.png' %}" alt="">
            <div class="produtos-item--descricao">
                <p class="produtos-item--texto">Iogurte <span class="sabor">Natural</span></p>
                <a class="produtos-item--link" href="/produtos/1">Conhecer Produto ></a>
            </div>
        </div>
        <div class="produtos-item">
            <img class="produtos-item--imagem" src="{% static 'img/Iog-Natural-450G.png' %}" alt="">
            <div class="produtos-item--descricao">
                <p class="produtos-item--texto">Iogurte <span class="sabor">Natural</span></p>
                <a class="produtos-item--link" href="/produtos/1">Conhecer Produto ></a>
            </div>
        </div>
        <div class="produtos-item">
            <img class="produtos-item--imagem" src="{% static 'img/Iog-Natural-450G.png' %}" alt="">
            <div class="produtos-item--descricao">
                <p class="produtos-item--texto">Iogurte <span class="sabor">Natural</span></p>
                <a class="produtos-item--link" href="/produtos/1">Conhecer Produto ></a>
            </div>
        </div>
        <div class="produtos-item">
            <img class="produtos-item--imagem" src="{% static 'img/Iog-Natural-450G.png' %}" alt="">
            <div class="produtos-item--descricao">
                <p class="produtos-item--texto">Iogurte <span class="sabor">Natural</span></p>
                <a class="produtos-item--link" href="/produtos/1">Conhecer Produto ></a>
            </div>
        </div>
        <div class="produtos-item">
            <img class="produtos-item--imagem" src="{% static 'img/Iog-Natural-450G.png' %}" alt="">
            <div class="produtos-item--descricao">
                <p class="produtos-item--texto">Iogurte <span class="sabor">Natural</span></p>
                <a class="produtos-item--link" href="/produtos/1">Conhecer Produto ></a>
            </div>
        </div>


    </div>
</section>