{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/site/produtos.css' %}">
    <link rel="stylesheet" href="{% static 'css/site/produto-detalhes.css' %}">
{% endblock %}


<section class="produto">

    <div class="produto-imagem ord display">
        {% if not produto.imagem %}
            <img src="{% static 'img/sem-imagem.png' %}" alt="embalagem {{ produto.nome }}">
        {% else %}
            <img class="" alt="embalagem {{ produto.nome }}" src="{{ produto.imagem.url }}">
        {% endif %}
    </div>

    <div class="produto-dec">
        <div  class="produto-item item-nav">
        <h2 class="produto-titulo">{{ produto.p_nome }} <span class="ativo">{{ produto.s_nome }}</span></h2>
        <div class="produto-nav">
            <a class="item" href="{% url 'index' %}">Home</a>
            <p class="item"> > </p>
            <a class="item " href="{% url 'produtos' %}">Produtos</a>
            <p class="item"> > </p>
            <a class="item " href="{% url 'linha' produto.linha %}">{{ produto.linha }}</a>
            <p class="item"> > </p>
            <a class="ativo item " href="{% url 'produto-detalhes' produto.linha produto.id %}">{{ produto.nome}}</a>
        </div>

        </div>

        <div class="produto-imagem ord display2">
            {% if not produto.imagem %}
                <img src="{% static 'img/sem-imagem.png' %}" alt="embalagem {{ produto.nome }}">
            {% else %}
                <img class="" alt="embalagem {{ produto.nome }}" src="{{ produto.imagem.url }}">
            {% endif %}
        </div>

        <div class="produtos-item--descricao ord1">
            <h2 class="produto-titulo">Ingredientes</h2>
            <p class="produto-item--texto">
                {{ produto.ingredientes }}
            </p>

            <h2 class="produto-titulo-bold">Informação Nutricional</h2>

            <table class="tabela-nutricional">
                <thead>
                    <tr>
                        <th colspan="2">Quantidade por Porção</th>
                        <th>%VD(*)</th>
                    </tr>
                </thead>

                <tbody>
                    <tr>
                        <td>Valor Energético</td>
                        <td>{{ produto.tabela.val_ener}}</td>
                        <td>{{ produto.tabela.val_ener_vd}}</td>
                    </tr>
                    <tr>
                        <td>Carboidratos</td>
                        <td>{{ produto.tabela.val_carbo}}</td>
                        <td>{{ produto.tabela.val_carbo_vd}}</td>
                    </tr>
                    <tr>
                        <td>Proteínas</td>
                        <td>{{ produto.tabela.val_prote}}</td>
                        <td>{{ produto.tabela.val_prote_vd}}</td>
                    </tr>
                    <tr>
                        <td>Gorduras Totais</td>
                        <td>{{ produto.tabela.val_gtotal}}</td>
                        <td>{{ produto.tabela.val_gtotal_vd}}</td>
                    </tr>
                    <tr>
                        <td>Gorduras Saturadas</td>
                        <td>{{ produto.tabela.val_gsatu}}</td>
                        <td>{{ produto.tabela.val_gsatu_vd}}</td>
                    </tr>
                    <tr>
                        <td>Gordura Trans</td>
                        <td>{{ produto.tabela.val_gtrans}}</td>
                        <td>{{ produto.tabela.val_gtrans_vd}}</td>
                    </tr>
                    <tr>
                        <td>Fibra Alimentar</td>
                        <td>{{ produto.tabela.val_fibra}}</td>
                        <td>{{ produto.tabela.val_fibra_vd}}</td>
                    </tr>
                    <tr>
                        <td>Sódio</td>
                        <td>{{ produto.tabela.val_sodio}}</td>
                        <td>{{ produto.tabela.val_sodio_vd}}</td>
                    </tr>
                </tbody>

            </table>

            <p class="tabela-nutricional--info">
                * Valores diários de referência com base em uma dieta de 2000kcal ou 8400kj. Seus valores diários podem ser
                maiores ou menores dependendo de suas necessidades energéticas.
            </p>

            <h2 class="produto-titulo-bold">Prazo de Validade</h2>
            <p class="produto-item--texto-bold">
                {{ produto.validade }}
            </p>
        </div>
        </div>

</section>