{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/site/produtos.css' %}">
    <link rel="stylesheet" href="{% static 'css/site/produto-detalhes.css' %}">
{% endblock %}


<section class="produto">

    <div class="produto-imagem ord display">
        <img class="" alt="" src="{% static 'img/Iog-Natural-450G.png' %}">
    </div>

    <div class="produto-dec">
        <div  class="produto-item item-nav">
        <h2 class="produto-titulo">Iogurte <span class="ativo">Natural</span></h2>
        <div class="produto-nav">
            <a class="item" href="{% url 'index' %}">Home</a>
            <p class="item"> > </p>
            <a class="item " href="{% url 'produtos' %}">Produtos</a>
            <p class="item"> > </p>
            <a class="item " href="{% url 'produtos' %}">Iogurtes</a>
            <p class="item"> > </p>
            <a class="ativo item " href="produtos/1">Iogurte Natural</a>
        </div>

        </div>

        <div class="produto-imagem ord display2">
            <img class="" alt="" src="{% static 'img/Iog-Natural-450G.png' %}">
        </div>

        <div class="produtos-item--descricao ord1">
            <h2 class="produto-titulo">Ingredientes</h2>
            <p class="produto-item--texto">
                Leite pasteurizado, açúcar, preparado de maracujá (aromatizante, corante, açúcar, amido de milho),
                fermento lácteo.
                <br><br>
                Porção de 200g (1 copo)
            </p>

            <h2 class="produto-titulo-bold">Informação Nutricional</h2>

            <table class="tabela-nutricional">
                <thead>
                    <tr>
                        <th colspan="2">Quantidade por Porção</th>
                        <th>%VD(*)</th>
                    </tr>
                </thead>

                <tbody>
                    <tr>
                        <td>Valor Energético</td>
                        <td>180kcal=765kJ</td>
                        <td>9%</td>
                    </tr>
                    <tr>
                        <td>Carboidratos</td>
                        <td>40,0 g</td>
                        <td>10%</td>
                    </tr>
                    <tr>
                        <td>Proteínas</td>
                        <td>6,0 g</td>
                        <td>12%</td>
                    </tr>
                    <tr>
                        <td>Gorduras Totais</td>
                        <td>2,0 g</td>
                        <td>6%</td>
                    </tr>
                    <tr>
                        <td>Gorduras Saturadas</td>
                        <td>3,0 g</td>
                        <td>12%</td>
                    </tr>
                    <tr>
                        <td>Gordura Trans</td>
                        <td>0,0 g</td>
                        <td>--</td>
                    </tr>
                    <tr>
                        <td>Fibra Alimentar</td>
                        <td>0,0 mg</td>
                        <td>0%</td>
                    </tr>
                    <tr>
                        <td>Sódio</td>
                        <td>10,0 mg</td>
                        <td>8</td>
                    </tr>
                </tbody>

            </table>

            <p class="tabela-nutricional--info">
                * Valores diários de referência com base em uma dieta de 2000kcal ou 8400kj. Seus valores diários podem ser
                maiores ou menores dependendo de suas necessidades energéticas.
            </p>

            <h2 class="produto-titulo-bold">Prazo de Validade</h2>
            <p class="produto-item--texto-bold">
                Após aberto manter em geladeira devidamente tampado e consumir em até 5 dias. Mantenha resfriado de 0ºC
                até 8ºC
            </p>
        </div>
        </div>


</section>