{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/site/sobre.css' %}">
{% endblock %}


<section class="sobre">

    <h2 class="sobre-titulo">Nossa História</h2>

    <div class="sobre-conteudo">
        <img class="sobre-imagem" src="{% static 'img/bufalos.png' %}" alt="">

    <p class="sobre-texto">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin sodales lectus et nulla iaculis, eu hendrerit
        magna tincidunt. Phasellus ex lectus, faucibus facilisis elit a, mollis pulvinar elit. Aliquam et eros id
        tellus vulputate bibendum. Vestibulum venenatis quis turpis non tincidunt. Aenean commodo tellus et mauris
        scelerisque posuere. Maecenas nec purus non purus tempor feugiat. Ut eu risus malesuada, commodo lectus mattis,
        imperdiet augue. Vestibulum porttitor non augue non vehicula. Morbi venenatis posuere diam, at suscipit lectus
        lobortis in. Maecenas hendrerit semper dolor eget lobortis. Suspendisse tristique placerat erat vulputate
        suscipit. Aliquam erat volutpat.

        Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Mauris id sapien
        hendrerit lorem rhoncus consectetur a in odio. Pellentesque eget massa urna. Fusce imperdiet purus volutpat
        maximus vulputate. Donec cursus vehicula accumsan. Fusce id ex aliquam, varius sem eu, tincidunt ex. Integer
        cursus mauris orci, vel aliquet ligula lobortis non. Morbi scelerisque lectus nec mollis mollis. Pellentesque
        sed blandit lacus. Etiam non dolor quis est mollis rutrum a et arcu. In nec ligula purus. Proin felis libero,
        ultrices ac ultrices eget, hendrerit sed justo. Duis faucibus, nibh non varius pellentesque, ex nisi vulputate
        lorem, sit amet bibendum sapien tellus dictum urna. Sed et elit a felis tincidunt bibendum dignissim eget ante.
        Nunc et sollicitudin lacus.
    </p>
    </div>




</section>