{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/site/sobre.css' %}">
{% endblock %}


<section class="sobre">

    <h2 class="sobre-titulo">Nossa História</h2>

    <div class="sobre-conteudo">
        <img class="sobre-imagem" src="{% static 'img/bufalos.png' %}" alt="">

    <p class="sobre-texto">
        "Lugar de Mulher é  onde ela quiser".<br><br>
            Minha origem vem de mulheres, agricultoras e criadoras de animais, mulheres fortes e chefes de famílias que
            no evoluir do tempo, abriram caminho para um sonho de ver o ciclo de criar, produzir e vender o resultado de
            muito trabalho deu vida ao Rancho Alere. Empreendimento  com foco no agronegócio, onde o nem dstar dos
            animais é fato importante para desde a formação do alimento para o gado até o beneficiamento todo feito com
            as melhores práticas e sempre com o apoio familiar, agregados e colaboradores  numa estrutura com todo o
            empoderamento que a mulher alavanca a cada novo desafio.<br><br>
            Tudo começou com a dificuldade de não conseguir vender a produção do leite da propriedade e ver o fruto de
            tanto esforço e trabalho ser perdido por falta de um comprador certo que beneficiasse nosso produto.<br><br>
            Da dificuldade surgiu a oportunidade, da oportunidade se fez  notar a carência dos produtos lácteos em
            Parintins. Com o advento da Pandemia nasceu o Rancho Alere com a estrutura familiar que vem sendo passada
            de pai pra filho, meu inicio se deu através de meu pai o Sr. Madeira e a Tia Marlene que foram o caminho
            onde aos poucos o Rancho Alere foi ganhando espaço nas prateleiras e nas mesas dos consumidores.
            A cada novo produto lançado no mercado  sensação é  a mesma do nosso primeiro queijo.
    </p>
    </div>




</section>